/*---------------------------------------------------------------------------------

 Theme Name: PDS-Theme
 Theme URI:    
 Description: Edits Amelia WP backend, adds an easy payment menu item, and does what WooCommerce should by default, redirect successful purchases to a REAL page, not the dumb order received one.
 Author: Jacob The Web Dev
 Author URI:   
 Template:     Divi
 Version:      1.1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/

